{% extends "base.html" %}
{% block content %}

<div class="section no-pad-top">
    <div class="section brown lighten-1">
        <br>
        <br>
        <h2 class="center white-text">Methodology</h2>
        <h6 class="center white-text">Methods used to derive NLP ranking</h6>
        <br>
        <br>
    </div>
</div>



<div class="row">

    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">

        <a href="/">NLP Ranking</a> > <a href="/methodology/">Methodology</a>

        <br>
        <br>
        <br>


        <p>Natural language processing (NLP) is a field in Artificial Intelligence that enables computers to
            understand, interpret and derive useful meaning from human language. Although the concept of NLP was
            first introduced in 1950 when Alan Turing published his paper “Computing Machinery and Intelligence”
            and developed the Turing test, NLP only became popular in recent decades, after computational power
            is sufficient and the demand to analyze unstructured data increases.</p>

        <p>As a relatively new academic field with growing demand, newcomers students in research lack appropriate
            means to learn about the research advancement of each institution in NLP.</p>

        <p>As a result, the purposes to create an NLP Ranking are:</p>
        <ol>
            <li>to allow potential students to obtain information regarding faculty quality in NLP of universities in
            the US</li>
            <li>to provide insights to academic researchers regarding research environment in different institutions</li>
        </ol>

        <br>

        <h6><b>Objective Ranking</b></h6>

        <p>As opposed to the most influential ranking at the moment (i.e. U.S. News) which based entirely on reputation
            and relies of surveys, NLP Ranking follows similar approach of <a href="http://csrankings.org/"
            target="_blank">Emery Berger’s CSRankings </a>. The ranking is entirely metrics-based, weighing each
            academic institution by their faculties' and students' publications found on
            <a href="https://www.aclweb.org/anthology/" target="_blank">ACL Anthology</a>, an open source that hosts
            papers on the study of computational linguistics and natural language processing. Since it is relatively
            difficult to have papers selected to reputable venues, it is an unbiased ranking methodology that reflects
            an institution’s research advancement in NLP.</p>

        <br>

        <h6><b>Data Collection</b></h6>

        <p>The data used for this ranking are publications published from 2010 to 2019 on
            <a href="https://www.aclweb.org/anthology/" target="_blank">ACL Anthology</a>.</p>

        <p>However, not all papers on ACL Anthology are included. Only venues from the followings are included:</p>

        <ul class="dash">
            <li>ACL</li>
            <li>COLING</li>
            <li>CoNLL</li>
            <li>EACL</li>
            <li>EMNLP</li>
            <li>IJCNLP</li>
            <li>NAACL</li>
            <li>SEMEVAL</li>
            <li>TACL</li>
        </ul>


        <br>

        <h6><b>Score Calculation</b></h6>

        <p>Each publication is counted once, and credits are divided evenly across co-authors if applicable.
            However, credits vary depending on the venue and type of publication.</p>

        <p>The score for each institution is calculated by summing the credits belonging to the faculty and student of
            the institution. NLP Ranking does not distinguish between faculty and student - if a paper is
            published solely by Emory University faculties and students, Emory University receives the full credit.</p>

        <br>

        <h6><b>Matching Publication with Educational Institutions</b></h6>

        <p>Most authors include their email addresses when publishing academic papers. Therefore, publication and
            institutions are matched by the email domains provided. </p>

        <p>Since the main purpose is to rank educational institution, if an author did not leave an email address with
            a domain from educational institution, the publication will not be counted in this ranking.</p>

        <br>

        <h6><b>Weights by Publication Type & Venues</b></h6>

        <p>Although each publication is only counted once, depending on the type and venue it is published, the credit
            each publication received is varies. </p>

        <p>As default, most long and short papers are assigned with a weight of 3, although some are 2. Workshops and
            demonstrations are also included, with a lower weight of 1. </p>

        <p>Note that this is a subjective weighting and users are welcome to customize the weights according to their
            own preference and understanding. </p>

        <br>

        <h6><b>Author Movement & Respective Scores</b></h6>

        <p>Different from <a href="http://csrankings.org/" target="_blank">CSRankings</a>, in NLP Ranking, if a
            faculty/student moves to a different institution, all of his/her score does not transfer to the new
            institution, so an institution’s score will never decrease as a result. </p>

        <p>The purpose is to accommodate for that fact that some faculties move not for the reason of better research
            environment, but to take up leadership positions in an institution where NLP research is rudimentary. </p>

        <p>As a substitution, the fact that whether a faculty is still present in the university or active in research
            is indicated by his/her last publication year for that institution. </p>

        <br>

        <h6><b>Georgraphic Focus</b></h6>

        <p>So far, NLP Ranking only focuses on universities in the United States, since most publications are still
            mainly from the US. However, the ranking is easily extendable to universities around the world, as long as
            the institutions’ email domains are provided.</p>

        <br>
        <br>
        <br>

    </div>

</div>


{% endblock %}