{% extends "base.html" %}
{% block content %}

<div class="section no-pad-top">
    <div class="section" style="background-color: #405C74">
        <br>
        <br>
        <h2 class="center white-text">Articles</h2>
        <h6 class="center white-text">Articles describing the derivation of NLP Rankings</h6>
        <br>
        <br>
    </div>
</div>



<div class="row">

    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">

        <a href="/">NLP Rankings</a> > <a href="/articles/">Articles</a>

        <br>
        <br>
        <br>


        <h6><b>Medium</b></h6>

        <ol>
            <li><a href="https://medium.com/emorynlp/ranking-u-s-universities-in-nlp-part-1-data-collection-e30bcbe4c9a5"
                   target="_blank">Ranking U.S. Universities for NLP Research Part 1: Data Collection</a></li>
            <li><a href="https://medium.com/emorynlp/ranking-u-s-universities-for-nlp-research-part-2-scoring-mechanism-ac4341ab6dd"
                   target="_blank">Ranking U.S. Universities for NLP Research Part 2: Scoring Mechanism</a></li>
        </ol>


        <br>
        <br>
        <br>

    </div>

</div>


{% endblock %}