{% extends "base.html" %}
{% block content %}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h2 class="header center" style="color: #2B3F50">NLP Rankings</h2>
        <h5 class="header center" style="color: #2B3F50">Presented by <a href="http://nlp.cs.emory.edu" target="_blank">Emory NLP</a></h5>
        <div class="row">
            <h6 class="header col s12 light">
                <p>This site provides research rankings for faculty and universities in the United States, focusing on
                    the field of Natural Language Processing (NLP). Inspired by <a href="http://csrankings.org" target="_blank">CSRankings</a>
                    which gives university rankings in diverse areas, this site conducts a more thorough survey in NLP.
                    The academic research achievement is represented by publications archived on the
                    <a href="https://www.aclweb.org/anthology/" target="_blank">ACL Anthology</a>, an open source
                    website hosted by the <a href="https://www.aclweb.org" target="_blank">Association for Computational
                        Linguistics</a>.</p>

                <p>These rankings are dedicated to provide insight on research environments in different
                    universities, and allow prospective students to acquire useful information about relevant faculty.
                    Users can weight conferences and workshop as desired, and view the corresponding rankings for
                    faculty and universities in NLP by the customized weights.</p>

                <p>When you click the university name, you will see the following information:<p>
                <ul class="dash">
                    <li><b>Score:</b> the total score achieved by each author within the time range for the university.</li>
                    <li><b>Latest:</b> the latest year of each author’s publication for the university.</li>
                    <li><b>Count:</b> the total # of publications by each author in the time range for the university.</li>
                </ul>
            </h6>
        </div>


    </div>




<div class="row row-no-gutters">


    <div class="input-field col-xs-2 col-sm-2 col-md-2 col-lg-2">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <form action="/" method="POST">

            <script type="text/javascript">
                $(document).ready(function () {
                    $("#start-year").val("{{ year[0] }}");
                    $("#end-year").val("{{ year[-1] }}");

                    $("#num_uni").val("{{ num[0] }}");
                    $("#num_author").val("{{ num[1] }}");


                    $("#CL").val("{{ weights[0] }}");
                    $("#TACL").val("{{ weights[1] }}");
                    $("#ACL-C").val("{{ weights[2] }}");
                    $("#NAACL-C").val("{{ weights[3] }}");
                    $("#EMNLP-C").val("{{ weights[4] }}");
                    $("#CoNLL-C").val("{{ weights[5] }}");
                    $("#EACL-C").val("{{ weights[6] }}");
                    $("#COLING").val("{{ weights[7] }}");
                    $("#IJCNLP").val("{{ weights[8] }}");
                    $("#WKSPDEMO").val("{{ weights[9] }}");


                });
            </script>

            <div class="input-field" style="padding: 0px 10px 10px">
                <select name="start-year" id="start-year" onchange="this.form.submit()">

                    {% for y in years %}
                    <option value="{{ y }}">{{ y }}</option>
                    {% endfor %}

                </select>
                <label style="padding: 0px 10px">Starting Year</label>
            </div>


            <div class="input-field" style="padding: 0px 10px 5px">

                <select name="end-year" id="end-year" onchange="this.form.submit()">

                    {% for y in years %}
                    <option value="{{ y }}">{{ y }}</option>
                    {% endfor %}

                </select>
                <label style="padding: 0px 10px">Ending Year</label>
            </div>

            <hr>

            <p style="padding: 0px 10px">
                # of University: <input type="number" name="num_uni" id="num_uni" style="text-align:center;width: 3em">
            </p>

            <p style="padding: 0px 10px">
                # of Author: <input type="number" name="num_author" id="num_author" style="text-align:center;width: 3em"><br>
            </p>

            <hr>

            <h6 align="center" style="font-weight: bold">Weights</h6>


            <p style="font-weight: bold; padding: 0px; margin: 10px 0px 0px">Journals</p>
            CL: <input type="number" name="CL" id="CL" style="text-align:center;width: 2em;padding: 0px;margin:0px"><br>
            TACL: <input type="number" name="TACL" id="TACL" style="text-align:center;width: 2em;padding: 0px;margin:0px"><br>

            <p style="font-weight: bold; padding: 0px; margin: 10px 0px 0px">Conferences</p>
            ACL: <input type="number" name="ACL-C" id="ACL-C" style="text-align:center;width: 2em;padding: 0px;margin:0px"><br>
            NAACL: <input type="number" name="NAACL-C" id="NAACL-C" style="text-align:center;width: 2em;padding: 0px;margin:0px"><br>
            EMNLP: <input type="number" name="EMNLP-C" id="EMNLP-C" style="text-align:center;width: 2em;padding: 0px;margin:0px"><br>
            CoNLL: <input type="number" name="CoNLL-C" id="CoNLL-C" style="text-align:center;width: 2em;padding: 0px;margin:0px"><br>
            EACL: <input type="number" name="EACL-C" id="EACL-C" style="text-align:center;width: 2em;padding: 0px;margin:0px"><br>
            COLING: <input type="number" name="COLING" id="COLING" style="text-align:center;width: 2em;padding: 0px;margin:0px"><br>
            IJCNLP: <input type="number" name="IJCNLP" id="IJCNLP" style="text-align:center;width: 2em;padding: 0px;margin:0px"><br>

            <p style="font-weight: bold; padding: 0px; margin: 10px 0px 0px">Workshops & Demonstrations</p>
            All: <input type="number" name="WKSPDEMO" id="WKSPDEMO"
                                     style="text-align:center;width: 2em"><br>

            <br>

            <button class="btn waves-effect waves-light" type="submit" name="re-weight">Update
                <i class="material-icons right">send</i>
            </button>

        </form>
        <br>
    </div>


    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 space">

        <ul class="collapsible">
            {% for k,v in ranking1.iterrows() %}
            <li>
                <div class="collapsible-header">
                    <b>{{ k }}</b>
                    {{ v['Institution'] }}
                    <span class="badge">{{ v['Score'] }}</span>
                </div>
                <div class="collapsible-body">
                    <table>
                        <col width="240">
                        <col width="20">
                        <col width="30">
                        <col width="35">
                        <thead>
                        <tr>
                            <th>Author ({{ dict(v['authors'])|length }})</th>
                            <th class="right" style="padding: 1rem 0">Score</th>
                            <th class="center">Latest</th>
                            <th>Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for author,value in dict(v['authors']).items() %}
                        <tr>
                            <td><a href="https://www.aclweb.org/anthology/people/{{ value[3] }}/"
                            target="_blank">{{ author }}</a></td>
                            <td class="right">{{ value[0] }}</td>
                            <td class="center">{{ value[2] }}</td>
                            <td class="center">{{ value[1] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>
            </li>

            {% endfor %}
        </ul>

    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 space">
        <div class="collection ">
            <h6 align="center">Top {{ num[1] }} NLP Authors</h6>

            {% for key,value in ranking2.iterrows() %}

            <a href="https://www.aclweb.org/anthology/people/{{ value['url'] }}/" target="_blank"
               class="collection-item"><span class="badge">{{ value['Score'] }}</span>{{ value['Author'] }}</a>

            {% endfor %}

        </div>
    </div>
</div>


{% endblock %}

