{% extends "base.html" %}
{% block content %}

<div class="row row-no-gutters">


    <div class="input-field col-xs-3 col-sm-3 col-md-3 col-lg-3">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <form action="/visualizations/" method="POST">

            <script type="text/javascript">
                $(document).ready(function () {

                    $("#CL").val("{{ weights[0] }}");
                    $("#TACL").val("{{ weights[1] }}");
                    $("#ACL-C").val("{{ weights[2] }}");
                    $("#NAACL-C").val("{{ weights[3] }}");
                    $("#EMNLP-C").val("{{ weights[4] }}");
                    $("#CoNLL-C").val("{{ weights[5] }}");
                    $("#EACL-C").val("{{ weights[6] }}");
                    $("#COLING").val("{{ weights[7] }}");
                    $("#IJCNLP").val("{{ weights[8] }}");
                    $("#WKSPDEMO").val("{{ weights[9] }}");


                });
            </script>


            <hr>


            <div class="input-field col s12">
                <select multiple id="selected-university" name="selected-university">
                    {% for rank,university in choices.items() %}
                    <option value="{{university}}">{{rank}}. {{ university }}</option>
                    {% endfor %}
                </select>
                <label>University</label>
            </div>

            <hr>

            <h6 align="left" style="font-weight: bold">Weights</h6>


            <p style="font-weight: bold; padding: 0px; margin: 10px 0px 0px">Journals</p>
            CL: <input type="number" name="CL" id="CL" style="text-align:center;width: 2em;padding: 0px;margin:0px"><br>
            TACL: <input type="number" name="TACL" id="TACL" style="text-align:center;width: 2em;padding: 0px;margin:0px"><br>

            <p style="font-weight: bold; padding: 0px; margin: 10px 0px 0px">Conferences</p>
            ACL: <input type="number" name="ACL-C" id="ACL-C" style="text-align:center;width: 2em;padding: 0px;margin:0px"><br>
            NAACL: <input type="number" name="NAACL-C" id="NAACL-C" style="text-align:center;width: 2em;padding: 0px;margin:0px"><br>
            EMNLP: <input type="number" name="EMNLP-C" id="EMNLP-C" style="text-align:center;width: 2em;padding: 0px;margin:0px"><br>
            CoNLL: <input type="number" name="CoNLL-C" id="CoNLL-C" style="text-align:center;width: 2em;padding: 0px;margin:0px"><br>
            EACL: <input type="number" name="EACL-C" id="EACL-C" style="text-align:center;width: 2em;padding: 0px;margin:0px"><br>
            COLING: <input type="number" name="COLING" id="COLING" style="text-align:center;width: 2em;padding: 0px;margin:0px"><br>
            IJCNLP: <input type="number" name="IJCNLP" id="IJCNLP" style="text-align:center;width: 2em;padding: 0px;margin:0px"><br>

            <p style="font-weight: bold; padding: 0px; margin: 10px 0px 0px">Workshops & Demonstrations</p>
            All: <input type="number" name="WKSPDEMO" id="WKSPDEMO"
                                     style="text-align:center;width: 2em"><br>

            <br>

            <button class="btn waves-effect waves-light" type="submit" name="viz">Update
                <i class="material-icons right">send</i>
            </button>

        </form>
        <br>
    </div>

    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 space">

        <h3 class="center">Visualizations</h3>

        <div align="center">
            {{ scriptL|safe }}
            {{ divL|safe }}
        </div>

        <h5>University Score Timeline</h5>
        This graph shows the selected universities’ ranking score from 2010 to 2019 in a stacked bar chart, where
        the lighter shading represents the amount of score contributed by top 10% of the authors in the university
        in terms of ranking scores.

        {{ script1|safe }}
        {{ div1|safe }}

        <br>

        <h5>Number of Authors in Various Publication Amount</h5>
        This stacked bar chart shows the number of authors in the university who have published only one, two, or
        more than three publications.

        {{ script2|safe }}
        {{ div2|safe }}

        <br>

        <h5>Average Publication Percent Contribution Overtime</h5>
        This line graph shows the average publication contribution percentage from 2010 to 2019, which indicates how
        likely universities co-author with different universities overtime.

        {{ script3|safe }}
        {{ div3|safe }}

        <br>

        <h5>Average Number of Authors per Publication Overtime</h5>
        This line graph shows the average number of authors per paper of each university from 2010 to 2019, which
        reflects how independent the researchers at each university are.

        {{ script4|safe }}
        {{ div4|safe }}
    </div>




</div>

{% endblock %}